.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.header_logo {
  height: 2.2rem;
}
.header_nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.header_nav-link:link, .header_nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.header_nav-link:hover, .header_nav-link:active {
  color: #cf711f;
}
.header_nav-link.nav-cta:link, .header_nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.header_nav-link.nav-cta:hover, .header_nav-link.nav-cta:active {
  background-color: #cf711f;
}
.header_mob-nav-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.header_mob-nav-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.header_mob-nav-icon[name=close-outline] {
  display: none;
}

.grid {
  display: grid;
  -moz-column-gap: 6.4rem;
       column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.s-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #e67e22;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero_description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero_img {
  width: 100%;
}
.hero_delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.hero_delivered-imgs {
  display: flex;
}
.hero_delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.hero_delivered-imgs img:last-child {
  margin: 0;
}
.hero_delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.hero_delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.section-logos {
  padding: 4.8rem 0 3.2rem 0;
}
.section-logos_h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.section-logos_logos {
  display: flex;
  justify-content: space-around;
}
.section-logos_logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.section-how {
  padding: 9.6rem 0;
}
.section-how_number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.section-how_description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.section-how_img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-how_img-box::before, .section-how_img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-how_img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.section-how_img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.section-how_img {
  width: 35%;
}

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}

.testimonial_img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial_text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial_name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery_item {
  overflow: hidden;
}
.gallery_item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery_item img:hover {
  transform: scale(1.1);
}

.section-sign-up {
  padding: 4.8rem 0 12.8rem;
}

.sign-up {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.sign-up_text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.sign-up_text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.sign-up_img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}
.sign-up_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.sign-up_form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.sign-up_form input, .sign-up_form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.sign-up_form input::-moz-placeholder {
  color: #aaa;
}
.sign-up_form input::placeholder {
  color: #aaa;
}
.sign-up_*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.footer_logo-col {
  display: flex;
  flex-direction: column;
}
.footer_logo-img {
  height: 2.2rem;
}
.footer_logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer_social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer_social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.footer_copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer_heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer_contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer_address {
  margin-bottom: 2.4rem;
}
.footer_nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer_link:visited, .footer_link:link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer_link:active, .footer_link:hover {
  color: #555;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    -moz-column-gap: 4.8rem;
         column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .header_nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero_text-box,
  .hero_img-box {
    text-align: center;
  }
  .hero_img {
    width: 60%;
  }
  .hero_delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .section-how_number {
    font-size: 7.4rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .sign-up {
    grid-template-columns: 3fr 2fr;
  }
  .sign-up_form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  .header_mob-nav-btn {
    display: block;
  }
  .header_nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .header_nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .header_mob-nav-icon[name=close-outline] {
    display: block;
  }
  .nav-open .header_mob-nav-icon[name=menu-outline] {
    display: none;
  }
  .header_nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .header_nav-link:link,
  .header_nav-link:visited {
    font-size: 3rem;
  }
}
@media (max-width: 44em) {
  .grid-3,
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .footer_logo-col,
  .footer_address-col {
    grid-column: span 3;
  }
  .header_nav {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero_img {
    width: 80%;
  }
  .section-logos_logos img {
    height: 1.2rem;
  }
  .sign-up_img-box:nth-child(2) {
    grid-row: 1;
  }
  .sign-up_box:nth-child(6) {
    grid-row: 5;
  }
  .sign-up_img-box {
    transform: translateY(2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .sign-up {
    grid-template-columns: 1fr;
  }
  .sign-up_text-box {
    padding: 3.2rem;
  }
  .sign-up_img-box {
    height: 32rem;
    grid-row: 1;
  }
}/*# sourceMappingURL=main.css.map */