//background colors

$background-white: #fdf2e9;
$background-nav-cta: #e67e22;
$background-btn: #45260a;
$background-img-box:#fae5d3;

//colors

$color-nav-text: #333;
$color-nav-hover: #cf711f;
$color-nav-cta: #fff;
$color-body:#555;
$color-h2: #888;
$color-how: #ddd;
$color-copyright:#767676;
$color-footer-border: #eee;
$color-sign-up-back: #eb984e;
$color-placeholder: #aaa;
$color-testomials:#6f6f6f;

//shadow
$color-focus-shadow:rgba(253, 242, 233, 0.5);
$color-shadow: rgba(230, 125, 34, 0.5);
$color-shadow3: rgba(235, 151, 78, 0.35);
$color-shadow2: rgba(0, 0, 0, 0.15);
$color-shadow4: rgba(230, 125, 34, 0.35);